.border {
	border:solid 1px red;
}
.header_menu {
	width:auto;
	background:#ffffff;
	border-bottom:1px #d4d4d5;
	border-bottom-style:solid;
}
.top_menu {
	width:1000px;
	margin:auto;
	border:solid 0px red;
}
.top_menu li {
	font-family:Myriad Pro;
	font-size:11px;
	font-style:bold;
	color:#3a003a;
	float:left;
}
.bullet {
	background:url(../images/bullet.png);
	background-repeat:no-repeat;
	background-position:left 5px;
	list-style:none;
}
.first {
	list-style:none;
	padding:0px 15px 0px 15px;
	margin:5px 0px 5px 0px;
}
.middle {
	padding:0px 15px 0px 20px;
	margin:5px 0px 5px 0px;
}
.last {
	padding:0px 0px 0px 20px;
	margin:5px 0px 5px 0px;
}
.clear {
	clear:both;
}
.right {
	float:right;
}
.left {
	float:left;
}
.align_left {
	text-align:left;
}
.align_right {
	text-align:right;
}
.textcenter {
	text-align:center;
}
.margin0 {
	margin: 0px 0px 0px 0px;
}
.margin12 {
	margin:12px;
}
.margin1010 {
	margin-top:10px;
	margin-bottom:10px;
}
.margin1414 {
	margin-top:14px;
	margin-bottom:14px;
}
.margin3112 {
	margin:31px 12px;
}
.margin_center1515 {
	margin-left:15px;
	margin-right:8px;
}
.full_container {
	width:auto;
	background:#ededee;
}
.fixwidth {
	width:1000px;
	margin:auto;
	border:solid 0px red;
}
.fixwidth02 {
	width:998px;
	margin:auto;
	border:solid 0px red;
}
.spacer {
	padding-top:15px;
	padding-bottom:15px;
}
.logo {
	width:439px;
	border:solid 0px red;
}
.phone {
	width:auto;
	margin-top:18px;
	font-family:Myriad Pro;
	font-size:12px;
	color:#73610c;
	border:solid 0px red;
}
.chat {
	width:auto;
	border:solid 0px red;
}
.phone ul {
	font-family:Century Gothic;
	font-size:14px;
	color:#3a003a;
}
.phone li {
	padding-left:10px;
}
.icon01 {
	position: relative;
	width: 20px;
	height: 20px;
	overflow: hidden;
	border: 0px red solid;
}
.icon02 {
	position: relative;
	width: 33px;
	height: 30px;
	overflow: hidden;
	border: 1px red solid;
}
.icon03{
    position: relative;
    width: 258px;
    height: 207px;
    overflow: hidden;
    border: 0px solid #FF0000;
}
.mobile {
	position: absolute;
	top: 0px;
	left: -6px;
	vertical-align: middle;
}
.fixphone {
	position: absolute;
	top: -30px;
	left: -6px;
}
.sms {
	position: absolute;
	top: -58px;
	left: -6px;
}
.bb {
	position: absolute;
	top: -86px;
	left: -6px;
}
.contact_header {
	padding:0px 15px 0px 16px;
}
.tab_height {
	height:38px;
}
.tab {
	background:url(../images/top_tab.png);
	background-repeat:no-repeat;
	background-position:right 0px;
}
.account {
	position: absolute;
	top: -118px;
	left: -9px;
}
.cart {
	position: absolute;
	top: -159px;
	left: -8px;
}
.font01 {
	font-family:Myriad Pro;
	font-size:12px;
	line-height:17px;
}
.font02 {
	font-family:Myriad Pro;
	font-size:10px;
	line-height:15px;
	padding-left:5px;
	padding-right:5px;
	background:#999999;
}
.font12 {
	font-size:12px;
}
.font03 {
	font-size:17px;
}
.font04 {
	font-size:20px;
}
.font13 {
	font-size:13px;
}
.font32 {
	font-size:32px;
}
.prod a:link {
	color:#ffffff;
}
.fontpromo {
	font-family:Myriad Pro;
	font-size:11px;
	line-height:17px;
}
.fontaccount {
	width:340px;
	padding-top:3px;
}
.fontaccount ul {
	font-family:Myriad Pro;
	font-size:13px;
	color:#3a003a;
	border:solid 0px red;
}
.paddingtop8 {
	padding-top:8px;
}
.paddingtop15 {
	padding-top:15px;
}
.paddingleft8 {
	padding-left:8px;
}
.paddingleft15 {
	padding-left:15px;
}
.paddingright8 {
	padding-right:8px;
}
.paddingbottom8 {
	padding-bottom:8px;
}
.paddingbottom16 {
	padding-bottom:16px;
}
.marginright {
	margin-right:10px;
}
.marginright15 {
	margin-right:15px;
}
.marginright20 {
	margin-right:20px;
}
.marginleft {
	margin-left:10px;
}
.marginleft15 {
	margin-left:15px;
}
.marginleft20 {
	margin-left:20px;
}
.margintop8 {
	margin-top:8px;
}
.margintop15 {
	margin-top:15px;
}
.marginbottom3 {
	margin-bottom:3px;
}
.marginbottom8 {
	margin-bottom:8px;
}
.marginbottom15 {
	margin-bottom:15px;
}
.marginbottom20 {
	margin-bottom:20px;
}
.search {
	width:340px;
	padding-top:6px;
	border:solid 0px red;
}
.support {
	padding-top:8px;
	border:solid 0px red;
}
.support ul {
	font-family:Century Gothic;
	font-size:13px;
	color:#3a003a;
}
.support li {
	padding-left:20px;
	padding-right:20px;
}
.cat_height_clear {
	height:38px;
}
.cat_height {
	height:38px;
}
.cat {
	background:url(../images/bg_kategori.png);
	background-repeat:no-repeat;
	background-position:left 0px;
}
.top_content {
	border:solid 1px #a0a0a0;
	min-height:400px;
}
.top_radius {
	border-top-left-radius:0.5em;
	border-top-right-radius:0.5em;
}
.bottom_radius {
	border-bottom-right-radius:0.5em;
	border-bottom-left-radius:0.5em;
}
.left_radius {
	border-top-left-radius:0.5em;
	border-bottom-left-radius:0.5em;
}
.right_radius {
	border-top-right-radius:0.5em;
	border-bottom-right-radius:0.5em;
}
.shadow {
	-moz-box-shadow:-1px 2px 7px 2px #d8d8da;
	-webkit-box-shadow:-1px 2px 7px 2px #d8d8da;
	box-shadow:-1px 2px 7px 2px #d8d8da;
}
.top_radius02 {
	border-top-left-radius:0.67em;
	border-top-right-radius:0.67em;
}
.banner {
	margin-top: 15px;
	margin-bottom: 10px;
}
.banner_center {
	margin-left:9px;
	margin-right:9px;
}
.newproduct {
	border:solid 1px #a0a0a0;
	background:#ffffff;
}
.review {
	border:solid 1px #a0a0a0;
	background:#f4f5f5;
}
.review_text {
	width:279px;
	font-family:Myriad Pro;
	font-size:11px;
	font-weight:bold;
	line-height:16px;
}
.boxproduk {
	width:226px;
	margin-bottom:4px;
    margin-top:4px;
}
.textbold {
	font-weight:bold;
}
.lineprod {
	border:solid 1px #995a89;
}
.titlemargin {
	margin-top:20px;
}
.borderright {
	border-right:solid 1px #cccccc;
}
.moreinfo {
	text-align:right;
	padding-right:5px;
}
grey01 {
	color:#666666;
}
grey02 {
	color:#4c4c4c;
}
grey02 {
	color:#808080;
}
blue {
	color:#1b75bb;
}
orange {
	color:#f05a28;
}
purple01 {
	color:#995a89;
}
purple02 {
	color:#663c5c;
}
yellow {
	color:#e6c419;
}
white {
	color:#ffffff;
}
.background01 {
	background:#e6c419;
}
.background02 {
	background:#480f46;
}
.background03 {
	background:url(../images/petik_buka.png);
	background-repeat:no-repeat;
	background-position:left 0px;
}
.background04 {
	background:url(../images/petik_tutup.png);
	background-repeat:no-repeat;
	background-position:right 0px;
}
.category  {
	width:659px;
}
.category li {
	display:block;
	width:164px;
	float:left;
	font-family:Myriad Pro;
	font-size:11px;
	font-weight:bold;
	margin-bottom:2px;
	color:#333333;
}
.footer {
	background:url(../images/footer.png);
	background-repeat:no-repeat;
	background-position:right 0px;
	height:276px;
	margin-bottom:15px;
	font-family:Tahoma;
	font-size:12px;
	color:#ffffff;
}
.footer_left {
	margin-top:10px;
	margin-left:35px;
}
.footer_right {
	margin-top:10px;
	margin-left:10px;
}
.ico01 {
	min-height:150px;
	padding-right:3px;
}
.ico02 {
	min-height:150px;
	padding-right:65px;
}
.ico02 ul {
	margin-top:7px;
}
.ico02 li {
	font-size:11px;
	line-height:5px;
}
.addr {
	font-family:Segoe UI;
	line-height:15px;
	padding-right:95px;
}
.get {
	font-size:11px;
}
.logobawah {
	margin-top:50px;
	margin-left:100px;
}

/*slideshow container*/
.ind_bann_warp{ position: relative; width: 100%; }
.ind_bann{ height: 265px; width: 100%; overflow: hidden; box-shadow: 1px 0 2px #CCC , -1px 0 2px #CCC;}
.slides_container{ height: 265px;}
.ind_s_bann{ position: absolute; right: 0; top:0; z-index: 6;}

/*form*/
button {
	margin:0px;
	background:url(../images/bg_button.png);
	font-family:Myriad Pro;
	font-size:13px;
	color:#fff;
	border:0px;
	border-radius:0.25em;
	-moz-border-radius:0.25em;
	-webkit-border-radius:0.25em;
	padding:4px;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	border: 1px solid #ccc;
	padding: 4px 4px;
	outline: none;
	-moz-border-radius:0.2em;
	-webkit-border-radius:0.2em;
	border-radius:0.2em;
	font: 12px "Myriad Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	border: 1px solid #aaa;
	color: #444;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2);
}
.searchform button {
	background:url(../images/tombol_01.png);
	border: 0px;
	border-top-right-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
	border-top-left-radius: 0em;
	border-bottom-left-radius: 0em;
	color: #FFFFFF;
	font-family: Myriad Pro;
	font-size: 12px;
	height: 24px;
	margin: 0px;
	padding: 4px;
	width: 24px;
}
.searchform input[type="text"] {
	border: 1px solid #ccc;
	padding: 4px 4px;
	outline: none;
	border-top-left-radius:0.25em;
	border-bottom-left-radius:0.25em;
	border-top-right-radius: 0em;
	border-bottom-right-radius: 0em;
	font: 12px "Myriad Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
}
.searchform input[type="text"]:focus {
	border: 1px solid #aaa;
	color: #444;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2);
}
.hrgrey {
	border:solid 1px #89898b;
}
.widthstyle01 {
	width:100px;
}
.inputset01 {
	display:inline;
	margin:2px;
}
.trheight20 {
	height:20px;
}
VogueBold12 {
	font-family:Arial Rounded MT Bold;
	font-size:11px;
}
VogueBold9 {
	font-family:Arial Rounded MT Bold;
	font-size:9px;
}
.yellowbar {
	background:url(../images/yellowbar.png);
	padding: 7px 0px 8px 8px;
}
.yellowbar02 {
	background:url(../images/yellowbar.png);
}
.purplebar {
	background:url(../images/purplebar.png);
	padding: 7px 0px 8px 8px;
}
.greybar {
	background:url(../images/bg_grey.png);
	padding: 9px 0px 9px 8px;
}
.hotdeals {
}
.hotdeals li {
	width:200px;
}
.hotdeals h5 {
    font-size: 15px;
    line-height: 20px;
}
.hotdeals h6 {
	font-size: 11px;
    line-height: 12px;
}
.hotdeals_box {
    margin: 0 auto;
    position: relative;
    width: 96%;
}
.hotdeals_box img {
	height:80px;
	width:auto;
}
.product {
	text-align:center;
	margin-top:20px;
}
.hdwidth {
    color: #663C5C;
    font-family: Century Gothic;
    font-size: 11px;
	line-height:15px;
    margin-bottom: 0;
    width: 95px;
}
size10 {
    font-size: 10px;
}
size11 {
    font-size: 11px;
}
size12 {
    font-size: 12px;
}
size13 {
    font-size: 13px;
}
size15 {
    font-size: 15px;
}
size17 {
    font-size: 17px;
}
size20 {
    font-size: 20px;
}
size25 {
    font-size: 25px;
}
size32 {
    font-size: 32px;
}
.contentkp {
	width:773px;
	font-size:12px;
	min-height: 900px;
}
.contentkp h5 {
    font-size: 15px;
    line-height: 20px;
}
.contentkp h6 {
	font-size: 14px;
    line-height: 38px;
	font-weight:bold;
	color:#995a89;
}
.demo {
	background:#fff3b3;
}
.listdemo {
	margin:13px;
}
.listdemo li {
	display:inline;
	float:left;
	margin-left:6px;
	margin-right:6px;
	border:solid 1px #d9d9d9;
}
.widthdemo {
	width:219px;
}
.kategori {
	font-family:Century Gothic;
	width:785px;
	min-height: 900px;
}
.cust_pic {
	background:#ffffff;
}
.cust_pic_centering {
	margin-left:5px;
	margin-right:6px;
}
.listkat {
	margin:0px;
}
.listkat li {
	display:inline;
	float:left;
	margin-left:2px;
	margin-right:2px;
	border:solid 1px #d9d9d9;
	background:#ffffff;
}
.listkat img {
    height: 100px;
    width: auto;
}
.widthkat {
    width: 174px;
}
.katwidth {
    color: #663C5C;
    font-family: Century Gothic;
	line-height:15px;
    margin-bottom: 0;
    width: 86px;
}
.listprod {
	margin:0px;
}
.listprod li {
    font-family: Century Gothic;
	display:inline;
	float:left;
	margin-left:2px;
	margin-right:2px;
	border:solid 0px #d9d9d9;
	background:#ffffff;
}
.listprod img {
    height: 100px;
    width: auto;
}
.listprodtop {
	background:#ebebeb;
	border-bottom:solid 1px #d9d9d9;
	height:5px;
}
.listprodbottom {
	background:#ebebeb;
	border-top:solid 1px #d9d9d9;
	height:5px;
}
.testi {
	background:#e6e6e6;
	font-family:Myriad Pro;
	font-size:13px;
	line-height:15px;
	padding:15px 15px 1px 15px;
}
.testi p {
	font-size:15px;
}
.keterangan {
	font-family:Myriad Pro;
	font-size:13px;
	line-height:15px;
}
.keterangan h4 {
	margin-top:10px;
	margin-bottom:10px;
	font-weight:bold;
	color:#995a89;
}
.paging {
	background:url(../images/bg_paging.png);
	font-family:Myriad Pro;
	font-size:13px;
	height:24px;
	padding:2px 10px 0px 10px;
}
.num {
    border: 1px solid #e6e6e6;
    float: left;
    font-family: Myriad Pro;
    font-size: 13px;
    line-height: 16px;
    margin: 3px 1px 3px 4px;
    text-align: center;
    width: 19px;
}
.num:hover {
    background:#faaf40;
	color:#ffffff;
}
.basebuybox h5 {
    font-size: 15px;
    line-height: 20px;
}
.basebuybox ul {
	margin-left:3px;
	margin-right:3px;
}
.basebuybox li {
	font-family:Myriad Pro;
    font-size: 12px;
    line-height: 16px;
	color:#808080;
	margin-bottom:5px;
	padding-left:6px;
}
.basebuybox li:hover {
    background:#faaf40;
	color:#ffffff;
}
.basebuy {
	background:#e6e6e6;
	font-family:Myriad Pro;
	font-size:14px;
	padding-left:5px;
	margin:3px;
}
.basebuylink {
    color:#995a89;
}
.navi {
	height:29px;
	background:url(../images/bg_navi.png);
	font-size:12px;
}
.navi ul {
	padding:4px;
}
.navi li {
	display:inline;
	padding:4px;
}
.navi a {
	color:#995a89;
}
.border_leftright {
	border-left:solid 1px #b8b8b8;
	border-right:solid 1px #b8b8b8;
}

/* form */
.kp {
	width: 107px;
	height: 18px;
	overflow: hidden;
	background: url(../images/select_arrow_01.png) no-repeat right #ddd;
	border: 1px solid #ccc;
}
.kp select {
	width: 125px;
	font-size:12px;
	background: transparent;
	line-height: 1;
	border: 0;
	-webkit-appearance: none;
	color:#666666;
}
.kp_02 {
	width: 45px;
	height: 18px;
	overflow: hidden;
	background: url(../images/select_arrow_01.png) no-repeat right #ddd;
	border: 1px solid #ccc;
}
.kp_02 select {
	width: 65px;
	font-size:12px;
	background: transparent;
	line-height: 1;
	border: 0;
	-webkit-appearance: none;
	color:#666666;
}
.stepbelanja01{
}
.stepbelanja01 h6 {
	font-size: 13px;
    line-height: 12px;
}
.stepbelanja01 a {
	font-family:Myriad Pro;
	font-size:12px;
	color:#3a003a;
	display:block;
	width:182px;
	margin:3px 8px 3px 8px;
	border-bottom:solid 1px #d6d6d6;
}
.forum {
	font-size:12px;
}
.forum a {
	font-family:Myriad Pro;
	font-size:11px;
	color:#4c4c4c;
	line-height:12px;
	font-weight:bold;
	display:block;
	width:182px;
	margin:3px 8px 3px 8px;
	border-bottom:solid 1px #d6d6d6;
}
.stepbelanja02 {
    min-height: 433px;
    width: 773px;
}
.stepbelanja02 h6 {
	font-size: 13px;
    line-height: 12px;
}
.stepbelanja03 {
    width: 366px;
	font-size:12px;
}
.stepbelanja03 ul {
    margin-bottom:0px;
}
.stepbelanja03 li {
    margin-bottom:0px;
}

/* accordion step belanja */
#accordion .ui-accordion-header-active {
	background:url(../images/bg_grey.png);
	padding: 9px 0px 9px 8px;
}
#accordion .ui-corner-all {
	background:url(../images/bg_grey_non.png);
	padding: 10px 0px 11px 8px;
	border:solid 1px #ababab;
	border-bottom-right-radius:0.5em;
	border-bottom-left-radius:0.5em;
	margin-bottom:8px;
}
/* accordion step belanja */

/* tab detail produk */
#tabs ul {
	background:url(../images/bg_tab_detail_prod.png);
	border-bottom:solid 2px #995a89;
	padding-left:80px;
	margin-bottom:0px;
}
#tabs li {
	float:left;
	margin-bottom:0px;
}
#tabs .ui-state-default {
	padding:18px 30px 12px 30px;
}
#tabs .ui-tabs-active {
	background:#995a89;
	color:#ffffff !important;
	border-top-right-radius:0.5em;
	border-top-left-radius:0.5em;
	padding:18px 30px 12px 30px;
}
#tabs .ui-tabs-panel {
	background:#ffffff;
    font-size: 13px;
    line-height: 16px;
	border-left:solid 1px #d2cccc;
	border-bottom:solid 1px #d2cccc;
	border-right:solid 1px #d2cccc;
	padding:20px;
}
#tabs .ui-corner-bottom {
	border-bottom-right-radius:0.5em;
	border-bottom-left-radius:0.5em;
}
#tabs h4 {
	font-weight:bold;
}
#tabs a {
	color:#999999;
	font-weight:bold;
	font-size:16px;
}
#tabs a:hover {
	color:#ffffff;
	font-weight:bold;
	font-size:16px;
}
#tabs a:visited {
	color:#ffffff;
	font-weight:bold;
	font-size:16px;
}
#tabs a:focus {
	color:#ffffff;
	font-weight:bold;
	font-size:16px;
}
/* tab detail produk*/

/* tab detail FAQs */
#tabsfaq ul {
	border-bottom:solid 2px #995a89;
	padding-top:10px;
	padding-left:12px;
	margin-bottom:0px;
	background: -webkit-linear-gradient(#edeeee, #cccccc); /* For Safari */
	background: -o-linear-gradient(#edeeee, #cccccc); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#edeeee, #cccccc); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#edeeee, #cccccc); /* Standard syntax */
}
#tabsfaq li {
	float:left;
	margin-bottom:0px;
}
#tabsfaq .ui-state-default {
	padding:18px 30px 12px 30px;
	text-shadow: 0px -1px rgba(0, 0, 0, 0.37);
}
#tabsfaq .ui-tabs-active {
	background:#995a89;
	color:#ffffff !important;
	border-top-right-radius:0.5em;
	border-top-left-radius:0.5em;
	padding:18px 30px 12px 30px;
}
#tabsfaq .ui-tabs-panel {
	background:#ffffff;
    font-size: 13px;
    line-height: 16px;
	padding:20px;
}
#tabsfaq .ui-corner-bottom {
	border-bottom-right-radius:0.5em;
	border-bottom-left-radius:0.5em;
}
#tabsfaq h4 {
	font-weight:bold;
}
#tabsfaq h6 {
    background: #E6E6E6;
    font-size: 14px;
    line-height: 20px;
    padding: 7px;
}
#tabsfaq p {
    padding: 7px;
}
#tabsfaq a {
	color:#999999;
	font-size:14px;
}
#tabsfaq a:hover {
	color:#ffffff;
	font-size:14px;
}
#tabsfaq a:visited {
	color:#ffffff;
	font-size:14px;
}
#tabsfaq a:focus {
	color:#ffffff;
	font-size:14px;
}
.faqtab {
	font-size:12px;
	min-height:900px;
}
.faqtab h5 {
    font-size: 15px;
    line-height: 20px;
}
/* tab detail FAQs*/

.number {
	font-family:Century Gothic;
	font-size:14px;
	color:#663c5c;
	padding-left:15px;
	padding-right:5px;
}
.desc {
	font-family:Myriad Pro;
	font-size:11px;
	line-height:16px;
}
.price {
	font-family:Century Gothic;
	font-size:14px;
	color:#663c5c;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
}
.pricetotal {
	font-family:Century Gothic;
	font-size:18px;
	font-weight:bold;
	color:#998211;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
}
.konfirm01 {
	font-size:12px;
	line-height:16px;
	margin-bottom:0px;
}
.supportmenu {
	font-family:Myriad Pro;
	font-size:12px;
	color:#6a076a;
	display:block;
	margin:0px 8px 0px 8px;
}
.supportmenu:hover {
	font-family:Myriad Pro;
	font-size:12px;
	color:#dda306;
	display:block;
	margin:0px 8px 0px 8px;
}
.supportcontent {
	font-size:12px;
	line-height:16px;
	padding:15px;
}
.supportcontent h2 {
	font-family:Century Gothic;
}
.listsupport {
	margin:0px;
}
.listsupport li {
	float:left;
	margin-left:44px;
	margin-right:22px;
	margin-bottom: 39px;
	border:solid 1px #d9d9d9;
	background:#ffffff;
	-moz-border-radius:0.55em;
	-webkit-border-radius:0.55em;
	border-radius:0.55em;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.listsupport a {
	color:#49528d;
}
.listsupport a:hover {
	color:#202c77;
}
.heading {
	font-size:12px;
	font-weight:bold;
	min-height:900px;
}
.heading05 {
    font-size: 15px;
    line-height: 20px;
}
.heading h5 {
    font-size: 15px;
    line-height: 20px;
}
.topsupport {
	padding-left:70px;
	padding-right:70px;
}
.imgsupport {
	text-align:center;
	border-bottom:solid 1px #d0d0d0;
	height:170px;
}
.widthsupp {
	width: 166px;
	background:#f3f3f3;
	min-height:36px;
}
.konsjgbl {
}
.konsjgbl li {
	width:222px;
	float:left;
	margin-left:20px;
	margin-right:0px;
}
.konsjgbl h4 {
	background:url(../images/bg_konsjgbl.png);
	font-family:Myriad Pro;
    font-size: 17px;
    line-height: 20px;
	padding:15px;
	border:solid 1px #ffffff;
}
.konsjgbl h5 {
    font-size: 15px;
    line-height: 20px;
}
.konsjgbl h6 {
	font-size: 13px;
    line-height: 16px;
}
.konsjgbl_box {
    margin: 0 auto;
    position: relative;
    width: 96%;
}
.konsjgbl_box img {
	height:120px;
	width:auto;
}
.hkonsjgbl_width {
    color: #663C5C;
    font-family: Century Gothic;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 0;
    width: 105px;
}
.ulasan {
}
.ulasan h4 {
	font-family:Myriad Pro;
    font-size: 19px;
    line-height: 20px;
	padding:15px;
}
.ulasan h6 {
	background:#e6e6e6;
	font-family:Myriad Pro;
    font-size: 14px;
    line-height: 20px;
	padding:7px;
	margin-left:15px;
	margin-right:15px;
}
.ulasan img {
	vertical-align:middle;
}
.rating01 {
	font-size:12px;
	padding:10px 7px 0px 7px;
	margin-left:15px;
	margin-right:15px;
}
.rating02 {
	font-size:12px;
	padding:7px;
	margin-left:15px;
	margin-right:15px;
}
.ulasanpaging {
	width:375px;
}
.ulasanpaging01 {
	width:160px;
}
.warranty {
	background:url(../images/warranty.png);
	height:153px;
}
.warranty h5 {
	font-size:16px;
	color:#e6c419;
	padding-top:15px;
	padding-left:15px;
}
.warranty p {
	margin-right:150px;
	padding-left:15px;
	font-size:12px;
	color:#ffffff;
	line-height:16px;
}
.detailprod {
	background:#ffffff;
}
.detailprodimg {
	width:505px;
}
.detailprodesc {
	width:468px;
	padding:10px;
	color:#4c4c4c;
}
.detailprodesc h4 {
	font-weight:bold;
}
.detailprodesc h5 {
	font-weight:bold;
	color:#999999;
}
.detailprodesc a {
	font-size:12px;
	color:#995a89;
}
.detailprodesc select {
	border-radius:8px;
	margin-bottom:10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	background: -webkit-linear-gradient(#ffffff, #dedfe0); /* For Safari */
	background: -o-linear-gradient(#ffffff, #dedfe0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ffffff, #dedfe0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ffffff, #dedfe0); /* Standard syntax */
}
.detailprodesc button {
	background: url("../images/bg_button.png");
	font-size:16px;
	color:#ffffff;
	width:171px;
	border-radius:11px;
	margin-bottom:10px;
}
.hargalama {
	color:#cccccc;
	text-decoration:line-through;
}
.discount {
	color:#663c5c;
}
.harga {
	color:#663c5c;
	font-weight:bold;
	padding-bottom:10px;
}
.selected {
	padding:10px;
	border-radius:2px;
	border:solid 2px #93e800;
}
.nonselected {
	padding:10px;
	border-radius:2px;
	border:solid 1px #cccccc;
	margin-left:5px;
}
.nonselected:hover {
	padding:10px;
	border-radius:2px;
	border:solid 1px #93e800;
	margin-left:5px;
}
.hd {
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
}
.searchpage {
	background:#ffffff;
	padding:10px;
	border:solid 1px #cccccc;
}

/*table*/
.tableshop {
}
.tableshopprodimg {
	height:60px;
	width:auto;
	margin-top:15px;
	margin-bottom:15px;
}
.tableshop td {
	vertical-align:middle;
}
.tableshop button {
	font-size:15px;
}
.tableshop select {
	border-radius:8px;
	margin-bottom:10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
	background: -webkit-linear-gradient(#ffffff, #dedfe0); /* For Safari */
	background: -o-linear-gradient(#ffffff, #dedfe0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ffffff, #dedfe0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ffffff, #dedfe0); /* Standard syntax */
}
.checkoutbotton {
	background:url(../images/bg_button_purple.png);
}
.tablehead {
	text-align:center;
	font-weight:bold;
	font-size:13px;
	color:#666666;
	background: -webkit-linear-gradient(#eaebeb, #ffffff); /* For Safari */
	background: -o-linear-gradient(#eaebeb, #ffffff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#eaebeb, #ffffff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#eaebeb, #ffffff); /* Standard syntax */
}
.tabletopborder {
	border-top:solid 2px #89898b;
}
.tabledesc {
	font-weight:bold;
	font-size:13px;
	color:#3a003a;
}
.bordertopbottom {
	border-top:solid 1px #89898b;
	border-bottom:solid 1px #89898b;
}
.borderleftright {
	border-left:solid 1px #89898b;
	border-right:solid 1px #89898b;
}
.borderleft {
	border-left:solid 1px #89898b;
}
shopharga {
	font-family:Century Gothic;
	font-size:14px;
	color:#3a003a;
}
shophargalama {
	font-family:Century Gothic;
	font-size:13px;
	color: #CCCCCC;
	text-decoration: line-through;
}
.tableket {
	font-size: 13px;
	font-weight: bold;
	color: #666666;
}
.tabletotal {
	font-family:Century Gothic;
	font-size:17px;
	font-weight: bold;
	color:#998211;
}
.tablebg01 {
	background: -webkit-linear-gradient(#e6e7e8, #e9eaeb); /* For Safari */
	background: -o-linear-gradient(#e6e7e8, #e9eaeb); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#e6e7e8, #e9eaeb); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#e6e7e8, #e9eaeb); /* Standard syntax */
}
.tablebg02 {
	background: -webkit-linear-gradient(#e9eaeb, #edeeee); /* For Safari */
	background: -o-linear-gradient(#e9eaeb, #edeeee); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#e9eaeb, #edeeee); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#e9eaeb, #edeeee); /* Standard syntax */
}
.tablebg03 {
	background: -webkit-linear-gradient(#eeeeef, #f9f9f9); /* For Safari */
	background: -o-linear-gradient(#eeeeef, #f9f9f9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#eeeeef, #f9f9f9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#eeeeef, #f9f9f9); /* Standard syntax */
}
.tablebg04 {
	background: -webkit-linear-gradient(#f9f9f9, #ffffff); /* For Safari */
	background: -o-linear-gradient(#f9f9f9, #ffffff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#f9f9f9, #ffffff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#f9f9f9, #ffffff); /* Standard syntax */
}
require {
	color: red;
	font-weight: bold;
}
.h7 {
    font-size: 14px;
    line-height: 20px;
    padding: 7px;
	border-bottom: solid 1px #cccccc;
}