.border {
	border:solid 1px red;
}
.header_menu {
	width:auto;
	background:#ffffff;
	border-bottom:1px #d4d4d5;
	border-bottom-style:solid;
}
.top_menu {
	width:1000px;
	margin:auto;
	border:solid 0px red;
}
.top_menu li {
	font-family:Myriad Pro;
	font-size:11px;
	font-style:bold;
	color:#3a003a;
	float:left;
}
.bullet {
	background:url(../images/bullet.png);
	background-repeat:no-repeat;
	background-position:left 5px;
	list-style:none;
}
.first {
	list-style:none;
	padding:0px 15px 0px 15px;
	margin:5px 0px 5px 0px;
}
.middle {
	padding:0px 15px 0px 20px;
	margin:5px 0px 5px 0px;
}
.last {
	padding:0px 0px 0px 20px;
	margin:5px 0px 5px 0px;
}
.clear {
	clear:both;
}
.right {
	float:right;
}
.left {
	float:left;
}
.align_right {
	text-align:right;
}
.margin0 {
	margin: 0px 0px 0px 0px;
}
.margin12 {
	margin:12px;
}
.margin1010 {
	margin-top:10px;
	margin-bottom:10px;
}
.margin1414 {
	margin-top:14px;
	margin-bottom:14px;
}
.margin3112 {
	margin:31px 12px;
}
.margin_center1515 {
	margin-left:15px;
	margin-right:8px;
}
.full_container {
	width:auto;
	background:#ededee;
}
.fixwidth {
	width:1000px;
	margin:auto;
	border:solid 0px red;
}
.fixwidth02 {
	width:998px;
	margin:auto;
	border:solid 0px red;
}
.spacer {
	padding-top:15px;
	padding-bottom:15px;
}
.logo {
	width:439px;
	border:solid 0px red;
}
.phone {
	width:auto;
	margin-top:18px;
	font-family:Myriad Pro;
	font-size:12px;
	color:#73610c;
	border:solid 0px red;
}
.chat {
	width:auto;
	border:solid 0px red;
}
.phone ul {
	font-family:Century Gothic;
	font-size:14px;
	color:#3a003a;
}
.phone li {
	padding-left:10px;
}
.icon01 {
	position: relative;
	width: 20px;
	height: 20px;
	overflow: hidden;
	border: 0px red solid;
}
.mobile {
	position: absolute;
	top: 0px;
	left: -6px;
	vertical-align: middle;
}
.fixphone {
	position: absolute;
	top: -30px;
	left: -6px;
}
.sms {
	position: absolute;
	top: -58px;
	left: -6px;
}
.bb {
	position: absolute;
	top: -86px;
	left: -6px;
}
.contact_header {
	padding:0px 15px 0px 16px;
}
.tab_height {
	height:38px;
}
.tab {
	background:url(../images/top_tab.png);
	background-repeat:no-repeat;
	background-position:right 0px;
}
.icon02 {
	position: relative;
	width: 33px;
	height: 30px;
	overflow: hidden;
	border: 1px red solid;
}
.account {
	position: absolute;
	top: -118px;
	left: -9px;
}
.cart {
	position: absolute;
	top: -159px;
	left: -8px;
}
.font01 {
	font-family:Myriad Pro;
	font-size:12px;
	line-height:17px;
}
.font02 {
	font-family:Myriad Pro;
	font-size:10px;
	line-height:15px;
	padding-left:5px;
	padding-right:5px;
	background:#999999;
}
.font03 {
	font-size:12px;
}
.prod a:link {
	color:#ffffff;
}
.fontpromo {
	font-family:Myriad Pro;
	font-size:11px;
	line-height:17px;
}
.fontaccount {
	width:340px;
	padding-top:3px;
}
.fontaccount ul {
	font-family:Myriad Pro;
	font-size:13px;
	color:#3a003a;
	border:solid 0px red;
}
.paddingtop15 {
	padding-top:15px;
}
.paddingleft8 {
	padding-left:8px;
}
.paddingleft15 {
	padding-left:15px;
}
.paddingright8 {
	padding-right:8px;
}
.paddingbottom8 {
	padding-bottom:8px;
}
.paddingbottom16 {
	padding-bottom:16px;
}
.marginright {
	margin-right:10px;
}
.marginright20 {
	margin-right:20px;
}
.marginleft {
	margin-left:10px;
}
.marginleft20 {
	margin-left:20px;
}
.margintop15 {
	margin-top:15px;
}
.search {
	width:340px;
	padding-top:3px;
	border:solid 0px red;
}
.support {
	padding-top:8px;
	border:solid 0px red;
}
.support ul {
	font-family:Century Gothic;
	font-size:13px;
	color:#3a003a;
}
.support li {
	padding-left:20px;
	padding-right:20px;
}
.cat_height_clear {
	height:38px;
}
.cat_height {
	height:38px;
}
.cat {
	background:url(../images/bg_kategori.png);
	background-repeat:no-repeat;
	background-position:left 0px;
}
.top_content {
	border:solid 1px #a0a0a0;
	min-height:400px;
}
.top_radius {
	border-top-left-radius:0.5em;
	border-top-right-radius:0.5em;
}
.bottom_radius {
	border-bottom-right-radius:0.5em;
	border-bottom-left-radius:0.5em;
}
.shadow {
	-moz-box-shadow:-1px 2px 7px 2px #d8d8da;
	-webkit-box-shadow:-1px 2px 7px 2px #d8d8da;
	box-shadow:-1px 2px 7px 2px #d8d8da;
}
.banner {
	margin-top: 15px;
	margin-bottom: 10px;
}
.banner_center {
	margin-left:9px;
	margin-right:9px;
}
.newproduct {
	border:solid 1px #a0a0a0;
	background:#ffffff;
}
.review {
	border:solid 1px #a0a0a0;
	background:#f4f5f5;
}
.review_text {
	width:279px;
	font-family:Myriad Pro;
	font-size:11px;
	font-weight:bold;
	line-height:16px;
}
.boxproduk {
	width:226px;
	margin-bottom:4px;
    margin-top:4px;
}
.textcenter {
	text-align:center;
}
.textbold {
	font-weight:bold;
}
.lineprod {
	border:solid 1px #995a89;
}
.titlemargin {
	margin-top:20px;
}
.borderright {
	border-right:solid 1px #cccccc;
}
.moreinfo {
	text-align:right;
	padding-right:5px;
}
grey01 {
	color:#666666;
}

grey02 {
	color:#4c4c4c;
}
blue {
	color:#1b75bb;
}
orange {
	color:#f05a28;
}
purple01 {
	color:#995a89;
}
purple02 {
	color:#663c5c;
}
yellow {
	color:#e6c419;
}
white {
	color:#ffffff;
}
.background01 {
	background:#e6c419;
}
.background02 {
	background:#480f46;
}
.background03 {
	background:url(../images/petik_buka.png);
	background-repeat:no-repeat;
	background-position:left 0px;
}
.background04 {
	background:url(../images/petik_tutup.png);
	background-repeat:no-repeat;
	background-position:right 0px;
}
.category  {
	width:659px;
}
.category li {
	display:block;
	width:164px;
	float:left;
	font-family:Myriad Pro;
	font-size:11px;
	font-weight:bold;
	margin-bottom:2px;
	color:#333333;
}
.footer {
	background:url(../images/footer.png);
	background-repeat:no-repeat;
	background-position:right 0px;
	height:276px;
	margin-bottom:15px;
	font-family:Tahoma;
	font-size:12px;
	color:#ffffff;
}
.footer_left {
	margin-top:10px;
	margin-left:35px;
}
.footer_right {
	margin-top:10px;
	margin-left:10px;
}
.ico01 {
	min-height:150px;
	padding-right:3px;
}
.ico02 {
	min-height:150px;
	padding-right:65px;
}
.ico02 ul {
	margin-top:7px;
}
.ico02 li {
	font-size:11px;
	line-height:5px;
}
.addr {
	font-family:Segoe UI;
	line-height:15px;
	padding-right:95px;
}
.get {
	font-size:11px;
}
.logobawah {
	margin-top:50px;
	margin-left:100px;
}

/*slideshow container*/
.ind_bann_warp{ position: relative; width: 100%; }
.ind_bann{ height: 265px; width: 100%; overflow: hidden; box-shadow: 1px 0 2px #CCC , -1px 0 2px #CCC;}
.slides_container{ height: 265px;}
.ind_s_bann{ position: absolute; right: 0; top:0; z-index: 6;}

/*login/register*/
.login {
	margin:0px;
	background:url(../images/login.png);
	background-repeat:no-repeat;
	width:61px;
	height:27px;
	font-family:Myriad Pro;
	font-size:13px;
	border:0px;
	color:#fff;
	text-shadow:0px 0px;
	padding:0px;
}
.hrgrey {
	border:solid 1px #89898b;
}
.widthstyle01 {
	width:100px;
}
.inputset01 {
	display:inline;
	margin:2px;
}
.trheight20 {
	height:20px;
}
VogueBold12 {
	font-family:VogueBold, Myriad Pro;
	font-size:12px;
}
VogueBold9 {
	font-family:VogueBold, Myriad Pro;
	font-size:10px;
}
.yellowbar {
	background:url(../images/yellowbar.png);
	padding: 7px 0px 8px 8px;
}
.purplebar {
	background:url(../images/purplebar.png);
	padding: 7px 0px 8px 8px;
}
.hotdeals {
}
.hotdeals li {
	width:200px;
}
.hotdeals h5 {
    font-size: 15px;
    line-height: 20px;
}
.hotdeals h6 {
	font-size: 11px;
    line-height: 12px;
}
.hotdeals_box {
    margin: 0 auto;
    position: relative;
    width: 96%;
}
.hotdeals_box img {
	height:80px;
	width:auto;
}
.product {
	text-align:center;
	margin-top:20px;
}
.hdwidth {
    color: #663C5C;
    font-family: Century Gothic;
    font-size: 11px;
	line-height:15px;
    margin-bottom: 0;
    width: 95px;
}
size10 {
    font-size: 10px;
}
size15 {
    font-size: 15px;
}
.contentkp {
	width:773px;
	font-size:12px;
}
.contentkp h5 {
    font-size: 15px;
    line-height: 20px;
}
.contentkp h6 {
	font-size: 14px;
    line-height: 38px;
	font-weight:bold;
	color:#995a89;
}